.box {
    flex:12%;
    margin:1px;
    height:10vh;
    background:green;
    border-radius:4px;
    min-height:20vh;
    display:flex;
    flex-wrap:wrap;
    opacity:0.5;
    transition:all 300ms linear;
}